In [ ]:
import pandas as pd
import datetime as dt
import numpy as np
import matplotlib.pyplot as plt

# from sqlalchemy import create_engine
# import psycopg2 
# import io

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "last_expr"
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
import matplotlib
from IPython.display import display, HTML
from pandas.io.json import json_normalize
from termcolor import colored
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select
import string
from Demographics_ETL import extract_data, transform_data, load_data

In [ ]:
excel_path = 'Excel Files/'

In [ ]:
%%HTML
<style type="text/css">

table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}

</style>

In [ ]:
INDEX_NAME='demographics_v1_test'
TYPE_NAME ='_doc' 
uuid = 5000
from elasticsearch import Elasticsearch
#elastic = Elasticsearch(HOST="localhost",PORT=9200)

# elastic = Elasticsearch([{'host':'142.93.213.146','port':9200}])

# <b>Sates List<B>

* Andhra Pradesh
* Arunachal Pradesh
* Assam
* Bihar
* Chhattisgarh
* Goa
* Gujarat
* Haryana
* Himachal Pradesh
* Jammu and Kashmir
* Jharkhand
* Karnataka
* Kerala
* Madhya Pradesh
* Maharashtra
* Manipur
* Meghalaya
* Mizoram
* Nagaland
* Odisha
* Punjab
* Rajasthan
* Sikkim
* Tamil Nadu
* Telangana
* Tripura
* Uttar Pradesh
* Uttarakhand
* West Bengal
* All India

# <b>UT's List<b>

* Andaman and Nicobar Islands
* Chandigarh
* Dadra and Nagar Haveli
* Daman and Diu
* Delhi
* Lakshadweep
* Puducherry

# MNREGA -STATE WISE DATA

In [ ]:
main1=pd.read_excel(excel_path + 'MNREGA State data 2011-12.xlsx')
main1=main1.rename(columns={main1.columns[0]:"Year"})
main1=main1.rename(columns={main1.columns[1]:"2012"})
main1 = main1.T
main1.columns=main1.loc["Year"]
main1=main1.drop(["Year"])
main1

Year ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND ANDHRA PRADESH ARUNACHAL PRADESH    ASSAM     BIHAR CHHATTISGARH ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND    GOA  GUJARAT HARYANA HIMACHAL PRADESH JAMMU AND KASHMIR JHARKHAND KARNATAKA   KERALA ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND MADHYA PRADESH MAHARASHTRA MANIPUR MEGHALAYA MIZORAM ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND   ODISHA PUDUCHERRY  PUNJAB RAJASTHAN SIKKIM TAMIL NADU TRIPURA UTTAR PRADESH UTTARAKHAND WEST BENGAL      Total
2012               45396                 7845           0        8254   384478        7166470            163974  3949587  12698704      4402364               45396                 7845           0        8254   384478               45396                 7845           0        8254   384478  32616  4084953  677854          1106662            982755   4040997   5591526  1886774               45396                 7845           0        8254   384478       11977840     6905886  472204    457540  190099               45396                 7845           0        8254   384478  6163936      66941  880093  10022207  80444    8419826  603959      15120532     1037940    11226851  122641399

In [ ]:
main2=pd.read_excel(excel_path + 'MNREGA State data 2012-13.xlsx')
main2=main2.rename(columns={main2.columns[0]:"Year"})
main2=main2.rename(columns={main2.columns[1]:"2013"})
main2 = main2.T
main2.columns=main2.loc["Year"]
main2=main2.drop(["Year"])
main2

Year ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND ANDHRA PRADESH ARUNACHAL PRADESH    ASSAM     BIHAR CHHATTISGARH ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND    GOA  GUJARAT HARYANA HIMACHAL PRADESH JAMMU AND KASHMIR JHARKHAND KARNATAKA   KERALA ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND MADHYA PRADESH MAHARASHTRA MANIPUR MEGHALAYA MIZORAM ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND   ODISHA PUDUCHERRY  PUNJAB RAJASTHAN SIKKIM TAMIL NADU TRIPURA UTTAR PRADESH UTTARAKHAND WEST BENGAL      Total
2013               48489                 8176           0        8493   398035        8524226            181538  4031420  13242342      4458232               48489                 8176           0        8493   398035               48489                 8176           0        8493   398035  33014  3825753  750233          1152052           1178541   4034328   5476169  2554190               48489                 8176           0        8493   398035       12161930     7388579  485026    467435  217387               48489                 8176           0        8493   398035  6318527      67733  927299   9985194  84625    9344972  642073      15325945     1066326    11495899  127736953

In [ ]:
main3=pd.read_excel(excel_path + 'MNREGA State data 2013-14.xlsx')
main3=main3.rename(columns={main3.columns[0]:"Year"})
main3=main3.rename(columns={main3.columns[1]:"2014"})
main3 = main3.T
main3.columns=main3.loc["Year"]
main3=main3.drop(["Year"])
main3

Year ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND ANDHRA PRADESH ARUNACHAL PRADESH    ASSAM     BIHAR CHHATTISGARH ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND    GOA  GUJARAT HARYANA HIMACHAL PRADESH JAMMU AND KASHMIR JHARKHAND KARNATAKA   KERALA ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND MADHYA PRADESH MAHARASHTRA MANIPUR MEGHALAYA MIZORAM ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND   ODISHA PUDUCHERRY   PUNJAB RAJASTHAN SIKKIM TAMIL NADU TRIPURA UTTAR PRADESH UTTARAKHAND WEST BENGAL      Total
2014               50651                 8157           0        8709   413625        8883860            193153  4165360  13296055      4058588               50651                 8157           0        8709   413625               50651                 8157           0        8709   413625  33869  3441996  779855          1169242           1258658   3771079   5586563  2835056               50651                 8157           0        8709   413625       10090871     7566413  514245    477182  196579               50651                 8157           0        8709   413625  6372171      69607  1088523   9882504  87426    8598545  629322      15162447     1085917    11848223  125549019

In [ ]:
main4=pd.read_excel(excel_path + 'MNREGA State data 2014-15.xlsx')
main4=main4.rename(columns={main4.columns[0]:"Year"})
main4=main4.rename(columns={main4.columns[1]:"2015"})
main4 = main4.T
main4.columns=main4.loc["Year"]
main4=main4.drop(["Year"])
main4

Year ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND ANDHRA PRADESH ARUNACHAL PRADESH    ASSAM     BIHAR CHHATTISGARH ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND    GOA  GUJARAT HARYANA HIMACHAL PRADESH JAMMU AND KASHMIR JHARKHAND KARNATAKA   KERALA ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND MADHYA PRADESH MAHARASHTRA MANIPUR MEGHALAYA MIZORAM ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND   ODISHA PUDUCHERRY   PUNJAB RAJASTHAN SIKKIM TAMIL NADU TRIPURA UTTAR PRADESH UTTARAKHAND WEST BENGAL      Total
2015               51401                 8157           0        8452   424030        8282158            201511  4513431  13093366      4028288               50034                 8161           0        8452   424030               50034                 8157           0        8452   424030  34766  3425435  772875          1178128           1283893   3668001   5543334  3028141               50034                 8157           0        8420   424030        8863736     7735244  532102    486510  181530               50034                 8157           0        8452   424272  6523754      70076  1117270   9924168  85941    8340268  631915      15743902     1116325    12204578  125065592

In [ ]:
main5=pd.read_excel(excel_path + 'MNREGA State data 2015-16.xlsx')
main5=main5.rename(columns={main5.columns[0]:"Year"})
main5=main5.rename(columns={main5.columns[1]:"2016"})
main5 = main5.T
main5.columns=main5.loc["Year"]
main5=main5.drop(["Year"])
main5

Year ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND ANDHRA PRADESH ARUNACHAL PRADESH    ASSAM     BIHAR CHHATTISGARH ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND    GOA  GUJARAT HARYANA HIMACHAL PRADESH JAMMU AND KASHMIR JHARKHAND KARNATAKA   KERALA ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND MADHYA PRADESH MAHARASHTRA MANIPUR MEGHALAYA MIZORAM ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND   ODISHA PUDUCHERRY   PUNJAB RAJASTHAN SIKKIM TAMIL NADU TRIPURA UTTAR PRADESH UTTARAKHAND WEST BENGAL      Total
2016               51839                 8157           0        8309   425383        8441660            210263  4918677  14006596      3998110               52041                 8161           0        8309   425383               52041                 8157           0        8309   425383  35685  3461267  760138          1186822           1342853   3774690   5613230  3208030               52041                 8157           0        8303   425383        8406792     7999826  544922    493798  186518               52041                 8157           0        8309   425656  6682652      69650  1203409  10037724  86024    8606114  615874      16775573     1153578    12559419  128849413

In [ ]:
main6=pd.read_excel(excel_path + 'MNREGA State data 2016-17.xlsx')
main6=main6.rename(columns={main6.columns[0]:"Year"})
main6=main6.rename(columns={main6.columns[1]:"2017"})
main6 = main6.T
main6.columns=main6.loc["Year"]
main6=main6.drop(["Year"])
main6

Year ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND ANDHRA PRADESH ARUNACHAL PRADESH    ASSAM     BIHAR CHHATTISGARH ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND    GOA  GUJARAT HARYANA HIMACHAL PRADESH JAMMU AND KASHMIR JHARKHAND KARNATAKA   KERALA ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND MADHYA PRADESH MAHARASHTRA MANIPUR MEGHALAYA MIZORAM ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND   ODISHA PUDUCHERRY   PUNJAB RAJASTHAN SIKKIM TAMIL NADU TRIPURA UTTAR PRADESH UTTARAKHAND WEST BENGAL      Total
2017               36380                 8157           0        8243   429215        8554384            218870  4595348  15217059      3776191               36024                 8164           0        8243   429215               36024                 8157           0        8243   429215  36180  3443325  847677          1202775           1269476   4304050   5306166  3224402               36024                 8157           0        8250   429215        6825231     8435525  548507    518114  190475               36024                 8157           0        8243   429713  6433430      70057  1299715   9821261  80496    8010977  609086      15869019     1079662    12854044  127050565

In [ ]:
main7=pd.read_excel(excel_path + 'MNREGA State data 2017-18.xlsx')
main7=main7.rename(columns={main7.columns[0]:"Year"})
main7=main7.rename(columns={main7.columns[1]:"2018"})
main7 = main7.T
main7.columns=main7.loc["Year"]
main7=main7.drop(["Year"])
main7

Year ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND ANDHRA PRADESH ARUNACHAL PRADESH    ASSAM     BIHAR CHHATTISGARH ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND    GOA  GUJARAT HARYANA HIMACHAL PRADESH JAMMU AND KASHMIR JHARKHAND KARNATAKA   KERALA ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND MADHYA PRADESH MAHARASHTRA MANIPUR MEGHALAYA MIZORAM ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND   ODISHA PUDUCHERRY   PUNJAB RAJASTHAN SIKKIM TAMIL NADU TRIPURA UTTAR PRADESH UTTARAKHAND WEST BENGAL      Total
2018               35318                 9141           0        8178   432644        8641251            221215  4671142  15896313      3833174               35514                14072           0        8178   432645               35514                 9141           0        8178   432644  36821  3648702  886781          1227036           1252366   4396694   5561963  3348230               35514                 9141           0        8182   432645        6819256     8943238  550053    538000  191326               35514                 9141           0        8178   431925  6378365      66136  1529672   9930376  81151    8082248  611429      16224816     1066419    11959609  129025189

In [ ]:

main8=pd.read_excel(excel_path + 'MNREGA State data 2018-19.xlsx')
main8=main8.rename(columns={main8.columns[0]:"Year"})
main8=main8.rename(columns={main8.columns[1]:"2019"})
main8 = main8.T
main8.columns=main8.loc["Year"]
main8=main8.drop(["Year"])
main8

Year ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND ANDHRA PRADESH ARUNACHAL PRADESH    ASSAM     BIHAR CHHATTISGARH ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND    GOA  GUJARAT HARYANA HIMACHAL PRADESH JAMMU AND KASHMIR JHARKHAND KARNATAKA   KERALA ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND MADHYA PRADESH MAHARASHTRA MANIPUR MEGHALAYA MIZORAM ANDAMAN AND NICOBAR DADRA & NAGAR HAVELI DAMAN & DIU LAKSHADWEEP NAGALAND   ODISHA PUDUCHERRY   PUNJAB RAJASTHAN SIKKIM TAMIL NADU TRIPURA UTTAR PRADESH UTTARAKHAND WEST BENGAL      Total
2019               34860                    0           0           0        0        8816291            230387  4930925  17012912      3921814                   0                14259           0           0        0                   0                    0           0           0        0  36950  3849530  930219          1261078           1290570   4720108   6004069  3512734                   0                    0           0        8188        0        7113983     9183105  567989    568159  193945                   0                    0           0           0   434770  6525311      68149  1668491  10341336  82660    8308437  626495      16958899     1089672    12175809  132482104

In [ ]:
main9=pd.read_excel(excel_path + 'MNREGA State data 2019-20.xlsx')
main9=main9.rename(columns={main9.columns[0]:"Year"})
main9=main9.rename(columns={main9.columns[1]:"2020"})
main9 = main9.T
main9.columns=main9.loc["Year"]
main9=main9.drop(["Year"])
main9 = main9.loc[:,~main9.columns.duplicated()]
main9

Year ANDAMAN AND NICOBAR ANDHRA PRADESH ARUNACHAL PRADESH    ASSAM     BIHAR CHHATTISGARH DADRA & NAGAR HAVELI DAMAN & DIU    GOA  GUJARAT HARYANA HIMACHAL PRADESH JAMMU AND KASHMIR JHARKHAND KARNATAKA   KERALA LAKSHADWEEP MADHYA PRADESH MAHARASHTRA MANIPUR MEGHALAYA MIZORAM NAGALAND   ODISHA PUDUCHERRY   PUNJAB RAJASTHAN SIKKIM TAMIL NADU TRIPURA UTTAR PRADESH UTTARAKHAND WEST BENGAL      Total
2020               33543        8962675            244677  5225284  18296881      3992968                14259           0  37109  4024420  982927          1295574           1327377   4996582   6345492  3639397        8212        7214211     9389675  572605    592889  200157   437342  6892838      70139  1807037  10696319  83828    8523451  630845      17777806     1118723    12749008  138184250

In [ ]:
main10=pd.read_excel(excel_path + 'MNREGA State data 2020-21.xlsx')
main10=main10.rename(columns={main10.columns[0]:"Year"})
main10=main10.rename(columns={main10.columns[1]:"2021"})
main10 = main10.T
main10.columns=main10.loc["Year"]
main10=main10.drop(["Year"])
main10 = main10.loc[:,~main9.columns.duplicated()]
main10

Year ANDAMAN AND NICOBAR ANDHRA PRADESH ARUNACHAL PRADESH    ASSAM     BIHAR CHHATTISGARH DADRA & NAGAR HAVELI DAMAN & DIU    GOA  GUJARAT  HARYANA HIMACHAL PRADESH JAMMU AND KASHMIR JHARKHAND KARNATAKA   KERALA LAKSHADWEEP MADHYA PRADESH MAHARASHTRA MANIPUR MEGHALAYA MIZORAM NAGALAND   ODISHA PUDUCHERRY   PUNJAB RAJASTHAN SIKKIM TAMIL NADU TRIPURA UTTAR PRADESH UTTARAKHAND WEST BENGAL      Total
2021               32473        9313074            251695  5295547  19300268      4157567                14327           0  37200  4173872  1036495          1326172           1333859   5315496   6702738  3700720        8217        7411033     9458324  575616    606964  201356   439839  7167332      73067  1866621  11261547  84615    8645933  636582      19712047     1158602    13290484  144589682

In [ ]:
main_df = main1.append([main2,main3,main4,main5,main6,main7,main8])
main_df = main_df.loc[:,~main_df.columns.duplicated()]
main_df = main_df.append([main9,main10])
main_df = main_df.loc[:,~main_df.columns.duplicated()]
main_df.columns = main_df.columns.str.title()
main_df = main_df.rename(columns={main_df.columns[0]:"Andaman and Nicobar Islands"})
main_df = main_df.rename(columns={main_df.columns[1]:"Dadra and Nagar Haveli"})
main_df = main_df.rename(columns={main_df.columns[2]:"Daman and Diu"})
main_df = main_df.rename(columns={main_df.columns[14]:"Jammu and Kashmir"})
main_df = main_df.rename(columns={main_df.columns[-1]:"All India"})
All_States_MNREGA_df = pd.DataFrame(main_df)
All_States_MNREGA_df.reset_index(inplace=True)
All_States_MNREGA_df = All_States_MNREGA_df.rename(columns={All_States_MNREGA_df.columns[0]:"Year"})

All_States_MNREGA_df['Frequency']= 'Yearly'
All_States_MNREGA_df.set_index(['Frequency','Year'],inplace=True)
All_States_MNREGA_df

               Andaman and Nicobar Islands Dadra and Nagar Haveli Daman and Diu Lakshadweep Nagaland Andhra Pradesh Arunachal Pradesh    Assam     Bihar Chhattisgarh    Goa  Gujarat  Haryana Himachal Pradesh Jammu and Kashmir Jharkhand Karnataka   Kerala Madhya Pradesh Maharashtra Manipur Meghalaya Mizoram   Odisha Puducherry   Punjab Rajasthan Sikkim Tamil Nadu Tripura Uttar Pradesh Uttarakhand West Bengal  All India
Frequency Year
Yearly    2012                       45396                   7845             0        8254   384478        7166470            163974  3949587  12698704      4402364  32616  4084953   677854          1106662            982755   4040997   5591526  1886774       11977840     6905886  472204    457540  190099  6163936      66941   880093  10022207  80444    8419826  603959      15120532     1037940    11226851  122641399
          2013                       48489                   8176             0        8493   398035        8524226            181538  4031420  13242342      4458232  33014  3825753   750233          1152052           1178541   4034328   5476169  2554190       12161930     7388579  485026    467435  217387  6318527      67733   927299   9985194  84625    9344972  642073      15325945     1066326    11495899  127736953
          2014                       50651                   8157             0        8709   413625        8883860            193153  4165360  13296055      4058588  33869  3441996   779855          1169242           1258658   3771079   5586563  2835056       10090871     7566413  514245    477182  196579  6372171      69607  1088523   9882504  87426    8598545  629322      15162447     1085917    11848223  125549019
          2015                       51401                   8157             0        8452   424030        8282158            201511  4513431  13093366      4028288  34766  3425435   772875          1178128           1283893   3668001   5543334  3028141        8863736     7735244  532102    486510  181530  6523754      70076  1117270   9924168  85941    8340268  631915      15743902     1116325    12204578  125065592
          2016                       51839                   8157             0        8309   425383        8441660            210263  4918677  14006596      3998110  35685  3461267   760138          1186822           1342853   3774690   5613230  3208030        8406792     7999826  544922    493798  186518  6682652      69650  1203409  10037724  86024    8606114  615874      16775573     1153578    12559419  128849413
          2017                       36380                   8157             0        8243   429215        8554384            218870  4595348  15217059      3776191  36180  3443325   847677          1202775           1269476   4304050   5306166  3224402        6825231     8435525  548507    518114  190475  6433430      70057  1299715   9821261  80496    8010977  609086      15869019     1079662    12854044  127050565
          2018                       35318                   9141             0        8178   432644        8641251            221215  4671142  15896313      3833174  36821  3648702   886781          1227036           1252366   4396694   5561963  3348230        6819256     8943238  550053    538000  191326  6378365      66136  1529672   9930376  81151    8082248  611429      16224816     1066419    11959609  129025189
          2019                       34860                      0             0           0        0        8816291            230387  4930925  17012912      3921814  36950  3849530   930219          1261078           1290570   4720108   6004069  3512734        7113983     9183105  567989    568159  193945  6525311      68149  1668491  10341336  82660    8308437  626495      16958899     1089672    12175809  132482104
          2020                       33543                  14259             0        8212   437342        8962675            244677  5225284  18296881      3992968  37109  4024420   982927          1295574           1327377   4996582   6345492  3639397        7214211     9389675  572605    592889  200157  6892838      70139  1807037  10696319  83828    8523451  630845      17777806     1118723    12749008  138184250
          2021                       32473                  14327             0        8217   439839        9313074            251695  5295547  19300268      4157567  37200  4173872  1036495          1326172           1333859   5315496   6702738  3700720        7411033     9458324  575616    606964  201356  7167332      73067  1866621  11261547  84615    8645933  636582      19712047     1158602    13290484  144589682

In [ ]:
PATH = 'Schemes/MNREGA/Total households applied for job card/'
doc_source={
    "Doc_Source":"MNREGA Portal",
    "Path":PATH,
    "Units":"Number of People",
    "Mode":"State"    
}

In [ ]:
All_States_MNREGA_df_meta = transform_data(All_States_MNREGA_df,doc_source)
All_States_MNREGA_df_meta

,Andaman and Nicobar Islands,Dadra and Nagar Haveli,Daman and Diu,Lakshadweep,Nagaland,Andhra Pradesh,Arunachal Pradesh,Assam,Bihar,Chhattisgarh,Goa,Gujarat,Haryana,Himachal Pradesh,Jammu and Kashmir,Jharkhand,Karnataka,Kerala,Madhya Pradesh,Maharashtra,Manipur,Meghalaya,Mizoram,Odisha,Puducherry,Punjab,Rajasthan,Sikkim,Tamil Nadu,Tripura,Uttar Pradesh,Uttarakhand,West Bengal,All India
Doc_Source,MNREGA Portal,MNREGA Portal,MNREGA Portal,MNREGA Portal,MNREGA Portal,MNREGA Portal,MNREGA Portal,MNREGA Portal,MNREGA Portal,MNREGA Portal,MNREGA Portal,MNREGA Portal,MNREGA Portal,MNREGA Portal,MNREGA Portal,MNREGA Portal,MNREGA Portal,MNREGA Portal,MNREGA Portal,MNREGA Portal,MNREGA Portal,MNREGA Portal,MNREGA Portal,MNREGA Portal,MNREGA Portal,MNREGA Portal,MNREGA Portal,MNREGA Portal,MNREGA Portal,MNREGA Portal,MNREGA Portal,MNREGA Portal,MNREGA Portal,MNREGA Portal
Path,Schemes/MNREGA/Total households applied for jo...,Schemes/MNREGA/Total households applied for jo...,Schemes/MNREGA/Total households applied for jo...,Schemes/MNREGA/Total households applied for jo...,Schemes/MNREGA/Total households applied for jo...,Schemes/MNREGA/Total households applied for jo...,Schemes/MNREGA/Total households applied for jo...,Schemes/MNREGA/Total households applied for jo...,Schemes/MNREGA/Total households applied for jo...,Schemes/MNREGA/Total households applied for jo...,Schemes/MNREGA/Total households applied for jo...,Schemes/MNREGA/Total households applied for jo...,Schemes/MNREGA/Total households applied for jo...,Schemes/MNREGA/Total households applied for jo...,Schemes/MNREGA/Total households applied for jo...,Schemes/MNREGA/Total households applied for jo...,Schemes/MNREGA/Total households applied for jo...,Schemes/MNREGA/Total households applied for jo...,Schemes/MNREGA/Total households applied for jo...,Schemes/MNREGA/Total households applied for jo...,Schemes/MNREGA/Total households applied for jo...,Schemes/MNREGA/Total households applied for jo...,Schemes/MNREGA/Total households applied for jo...,Schemes/MNREGA/Total households applied for jo...,Schemes/MNREGA/Total households applied for jo...,Schemes/MNREGA/Total households applied for jo...,Schemes/MNREGA/Total households applied for jo...,Schemes/MNREGA/Total households applied for jo...,Schemes/MNREGA/Total households applied for jo...,Schemes/MNREGA/Total households applied for jo...,Schemes/MNREGA/Total households applied for jo...,Schemes/MNREGA/Total households applied for jo...,Schemes/MNREGA/Total households applied for jo...,Schemes/MNREGA/Total households applied for jo...
Units,Number of People,Number of People,Number of People,Number of People,Number of People,Number of People,Number of People,Number of People,Number of People,Number of People,Number of People,Number of People,Number of People,Number of People,Number of People,Number of People,Number of People,Number of People,Number of People,Number of People,Number of People,Number of People,Number of People,Number of People,Number of People,Number of People,Number of People,Number of People,Number of People,Number of People,Number of People,Number of People,Number of People,Number of People
Mode,State,State,State,State,State,State,State,State,State,State,State,State,State,State,State,State,State,State,State,State,State,State,State,State,State,State,State,State,State,State,State,State,State,State

In [ ]:
uuid = load_data(All_States_MNREGA_df,All_States_MNREGA_df_meta,INDEX_NAME,TYPE_NAME,uuid )

uuid is 5000
uuid is 5001
uuid is 5002
uuid is 5003
uuid is 5004
uuid is 5005
uuid is 5006
uuid is 5007
uuid is 5008
uuid is 5009
uuid is 5010
uuid is 5011
uuid is 5012
uuid is 5013
uuid is 5014
uuid is 5015
uuid is 5016
uuid is 5017
uuid is 5018
uuid is 5019
uuid is 5020
uuid is 5021
uuid is 5022
uuid is 5023
uuid is 5024
uuid is 5025
uuid is 5026
uuid is 5027
uuid is 5028
uuid is 5029
uuid is 5030
uuid is 5031
uuid is 5032
uuid is 5033